<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <style>
    body {
      background: rgb(95, 158, 160);
      color: rgb(255, 255, 255);
    }

    a {
      color: rgb(255, 255, 255);
    }
  </style>
</head>

<body>
  <nav><a href="/">Главная</a> | <a href="/all-posts">Все записи</a> | <a href="/add-post">Добавить запись</a> | <a href="/contacts">Контакты</a></nav>
  <main>
    <h1>Главная страница</h1>
    <p>Добро пожаловать на наш сайт!</p>
  </main>
</body>

</html>