<!DOCTYPE html>
<html lang="en">

  <%- include('./parts/head.ejs') %>

<body>
  <%- include('./parts/nav.ejs') %>
  <main>
    <h1>Ошибка 404</h1>
    <p>Страница не найдена</p>
  </main>
</body>

</html>